{% extends 'layout.html' %}
{% block title %} A-propos de nous {% endblock %}

{% block body %}
<div id='Libre'>
    <br>
    <div id='Tweet' class='mx-auto w-50 p-2'>
        <div class='tweet'>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">Qui somme nous ? </h5>
                    <p>Trop d’appareils sont jetés parce qu’il est trop difficile ou aléatoire de trouver un professionnel capable de les réparer. Ce qui représente un gouffre écologique, une perte d’argent pour le consommateur et une perte de marché pour les professionnels de la réparation.</p>
                    <br>
                    <br>
                    <p>ElectroRepair a pour ambition de mettre en relation les professionnel de la réparation informatique et les clients. Le but est d'éviter le gaspillage et de favoriser la réparation plutôt que la surconsommation.</p>
                    <br>
                    <br>
                    <h5>Créateurs du site :</h5>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/victor-marit-73300a175/?originalSubdomain=fr">Victor Marit</a></li>
                        <li><a href="https://www.linkedin.com/in/gr%C3%A9goire-hage/">Grégoire Hage</a></li>
                        <li><a href="https://www.linkedin.com/in/jad-daouk-a8b783196/">Jad Daouk</a></li>
                        <li><a href="https://www.linkedin.com/in/yohan-widogue-424785196/">Yohan Widogue</a></li>
                    </ul>
                    <p>Création dans le cadre du projet POIN EPSI 2020</p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}