<link rel="stylesheet" href="CSS/comments.css"/>
<script src="JS/comments.js" defer></script>

<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <h3> Noté votre expérience et Laissé un commentaire: </h3>
            <div class="panel panel-info">
                <div id="etoileEntry">
                    <div id="divEtoile0" class="etoile"><i id="etoile0" class="far fa-star"></i></div>
                    <div id="divEtoile1" class="etoile"><i id="etoile1" class="far fa-star"></i></div>
                    <div id="divEtoile2" class="etoile"><i id="etoile2" class="far fa-star"></i></div>
                    <div id="divEtoile3" class="etoile"><i id="etoile3" class="far fa-star"></i></div>
                    <div id="divEtoile4" class="etoile"><i id="etoile4" class="far fa-star"></i></div>
                </div>

                <div class="panel-body">
                    <form id="commentform">
                        <div class="form-group">
                        <textarea id="commenttextarea" class="form-control" placeholder="écrivez un commentaire ici..." maxlength="250" required></textarea>
                        <p id="characterlength">0/250</p>
                        </div>
                        <button type="submit" class="btn btn-info pull-right">Poster</button>
                    </form>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        {% if Comments.Id|length != 0 %}
                            {% for i in 0 .. (Comments.Id|length - 1) %}
                            <li class="media">
                                <a class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                    <span class="text-muted pull-right">
                                        <small class="text-muted">{{ Comments.Timestamp[i] }}</small>
                                    </span>
                                    <strong class="text-success">{{ Comments.Prenom[i] }} {{ Comments.Nom[i] }}</strong>
                                <div class="commentsStars">
                                    {% if Comments.Notation[i] == 0 %}
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elseif Comments.Notation[i] == 1 %}
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elseif Comments.Notation[i] == 2 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elseif Comments.Notation[i] == 3 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% elseif Comments.Notation[i] == 4 %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    {% else %}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    {% endif %}
                                </div>
                                    <p>
                                        {{ Comments.Content[i] }}
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>