<!DOCTYPE html>
<html>
<head>
<script src='JS/jquery-ui.custom.min.js' type="text/javascript" defer></script>
<link href='packages/core/main.css' rel='stylesheet' />
<link href='packages/daygrid/main.css' rel='stylesheet' />
	<link href='packages/timegrid/main.css' rel='stylesheet' />

<script src='packages/core/main.js' defer></script>
<script src='packages/daygrid/main.js' defer></script>
	<script src='packages/timegrid/main.js' defer></script>
	<script src='packages/google-calendar/main.js' defer></script>
	<script src='packages/interaction/main.js' defer></script>
<script src='JS/calendar.js' type="text/javascript" defer></script>
</head>
<body>

<div id='calendar'></div>
<div id="calendarpopup">
	<div id="calendarpopupcontrols">
		<div id="cross">
			<i class="fas fa-times calendarpopupcontrol"></i>
		</div>
	</div>
	<div id="calendarpopupcontent">

	</div>
</div>
<div id='calendarLoading'>
	<p>
		<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
	</p>
</div>

</body>
</html>
