<input type="hidden" id="notifnb" value="{{ Notifs|length }}">
<input type="hidden" id="notiftab" value="[{% for notification in Notifs %}{{ notification.Id }}{% if (loop.index <= loop.length - 1) and (loop.length != 1) %},{% endif %}{% endfor %}]">
<div class="form-inline text-center" id="belliconli">
    <div class="dropdown" id="bellcontainerdropdown">
        <a class="nav-link text-light text-center" id="bellicon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if Notifs|length > 0 %}
            <i class="fas fa-bell faa-ring animated" id="bellnotificon"></i>
            {% else %}
            <i class="far fa-bell"></i>
            {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bellicon" id="belldropdown">
            {% for notification in Notifs %}
            <input type="hidden" id="notiflink{{ notification.Id }}" value="{{ notification.LinkTo }}">
            <a class="dropdown-item notifsa" id="notif{{ notification.Id }}">
                {% if 'rdv' in notification.LinkTo %}
                    <i class="fas fa-calendar-plus"></i>
                {% elseif 'comment' in notification.LinkTo %}
                    <i class="fas fa-comment-medical"></i>
                {% elseif 'chat' in notification.LinkTo %}
                    <i class="fas fa-comment-dots"></i>
                {% endif %}
                &nbsp;{{ notification.Content }}
            </a>
            {% if (loop.index <= loop.length - 1) and (loop.length != 1) %}
            <div class="dropdown-divider"></div>
            {% endif %}
            {% endfor %}
            {% if Notifs|length == 0 %}
            <p class="text-warning text-center my-auto">Il n'y a pas de notifications !</p>
            {% endif %}
        </div>
    </div>
</div>
